/* FORMATS */
html,body {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline
}

div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,code,del,dfn,em,img,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline
}

blockquote,q {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	quotes: "" ""
}

blockquote:before,q:before,blockquote:after,q:after {
	content: ""
}

th,td,caption {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}

table {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	border-collapse: separate;
	border-spacing: 0;
	vertical-align: middle
}

a {
	text-decoration: none;
	color: inherit
}

a:hover {
	text-decoration: underline
}

ul {
	list-style: none
}

body * {
	outline: 0
}

/* END FORMATS */

body {
    background: url("/bundles/webalibresecciones/images/base/fondo_violeta.jpg") repeat scroll 0 0 #fbd19e;
    color: #000000;
    font-family: Century Gothic,sans-serif;
    /*font-size: 13px;*/
    margin-top: 30px;
    padding: 0;
    
}

  .header {
  	

  }

  .header .title {
  	font-family: Tahoma, Arial;
  	text-align: center;
  	font-size: 50px;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);  
}

  .header .subtitle {
  	text-align: center;
  	font-size: 18px;	
  	
  }

    .header .tel {
  	float: left;
  	font-size: 12px;	
  	
  }
    .header .email {
  	float: left;
  	font-size: 12px;	
  	
  }