/* FORMATS */
html,body {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline
}

div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,code,del,dfn,em,img,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline
}

blockquote,q {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	quotes: "" ""
}

blockquote:before,q:before,blockquote:after,q:after {
	content: ""
}

th,td,caption {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}

table {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	border-collapse: separate;
	border-spacing: 0;
	vertical-align: middle
}

a {
	text-decoration: none;
	color: inherit
}

a:hover {
	text-decoration: underline
}

ul {
	list-style: none
}

body * {
	outline: 0;
	/*display: block;*/
}

/* END FORMATS */

body {
    background: url("/bundles/webalibresecciones/images/base/fondo_violeta.jpg") repeat scroll 0 0 #fbd19e;
    color: #000000;
    font-family: Century Gothic,sans-serif;
    /*font-size: 13px;*/
    margin: 20px 0 0 0;
    padding: 0;
    display: block;
    
}

.out-container {
	font-size: 14px;
	width: 1100px;
	margin: 0 auto 0 auto;
	/*padding: 5px 0;*/
	display: block;
}
  

.out-container .header {
  	

}

.out-container .header .title {
  	font-family: Tahoma, Arial;
  	text-align: center;
  	font-size: 50px;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);  
}

.out-container .header .subtitle {
  	text-align: center;
  	font-size: 18px;	
  	
}

.out-container .header .personal-data {
	/*float: left;*/
	display: block;
}

.out-container .header .personal-data .tel {
  	font-size: 12px;	
}

.out-container .header .personal-data .email {
  	font-size: 12px;	
}

.out-container .nav-container {
	border-bottom: 1px dashed #666666;
	border-top: 1px dashed #666666;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	/*z-index: 1000;*/
	margin: 5px auto 5px auto;
}

.out-container .nav-container nav {
	border-bottom: 1px dashed #666666;
	border-top: 1px dashed #666666;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	/*z-index: 1000;*/
}

.out-container .nav-container nav ul.nav {
	list-style: none;
}

.out-container .nav-container nav ul.nav li {
	margin: 0 15px 0 15px;
	font-size: 20px;
	position: relative;
	display: inline-block;
	zoom: 1;
}

.out-container .nav-container nav ul.nav li:hover {
	background: url("/bundles/webalibresecciones/images/btn-fondo.png") no-repeat scroll 0 0 #fbd19e; ;
	text-decoration: none;
	/*background-color: #ccaee2;*/
	opacity: 1.0;
	/*filter:alpha(opacity=100); /* For IE8 and earlier */
	/*width: 140px;*/
}