<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {% block title %}
                W E B A L I B R E
            {% endblock %}
        </title>
        
        
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/webalibresecciones/css/main.css')}}" type="text/css" media="screen"/>
        {% endblock %}
        <link rel="shortcut icon" type="image/icon" href="{{ asset('bundles/webalibresecciones/images/webalibre.ico') }}" />
        
    </head>
    
    <body>
        {% block javascripts %}{% endblock %}
        <div class="out-container">        
            <div class="hoverhome">
                <a href="http://webalibre/app_dev.php"> <!-- TODO: reemplazar por equivalente en S2 -->
                    <div class="line-grey"> </div>
                        <div class="header">
                            {% block header %}
                                Bienvendo a W E B A  L I B R E
                            {% endblock %}
                        </div>
                    <div class="line-grey"> </div>
                </a>
            </div>
            {% block menu %}
                <div class="nav-container">
                    <nav>
                        <ul class="nav">
                            <li> <a href="#"> HOME </a> </li>
                            <li> <a href="#"> SYMFONY 2 </a> </li>
                            <li> <a href="#"> LINUX </a> </li>
                            <li> <a href="#"> JQUERY </a> </li>
                            <li> <a href="#"> OTROS </a> </li>
                            <li> <a href="#"> PORTFOLIO </a> </li>
                            <li> <a href="#"> CONTACTO </a> </li>
                        </ul>

                    </nav>
                </div>
            {% endblock %}
            
            <div class="body">
                {% block body %} {% endblock %}                        
            </div>
            
            <div class="footer">
                {% block footer %}
                    este es el pie de página
                {% endblock %}
            </div>
    </body>
</html>