{% extends 'WebalibreSeccionesBundle:Default:base.html.twig' %}

{% block title %}
    W E B A L I B R E - Home
{% endblock %}


{% block header %} <!-- class="header" -->
    <h2 class="title">
        W E B A L I B R E
    </h2>
    <h2 class="subtitle">
        web libre para desarrolladores . . .
    </h2>
    <div class="personal-data">
        <div class="tel">
        </div>
        <div class="email">
        </div>
    </div>
{% endblock %}


{% block body %}
    
    <div class="present">
        <div class="parrafo">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estamos dedicados a la programación web, resolvimos crear un sitio que pueda ayudar a otros desarrolladores, y también a nosotros. Publicamos el código libre, para el que quiera comenzar a usar un gran framework de php, el Symfony 2; está realizado con dicha herramienta.
        </div>
        <div class="parrafo">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nos encantan las opiniones, escriban que las tendremos en cuenta; también nos gusta hacer presupuesto, escriban; y lo que mas nos gusta es programar y que el código sea libre. . .
        </div>
    </div>



    <div class="box-news">
        <div class="col-1">
            columna uno
        </div>
        <div class="col-2">
            columna dos
        </div>
        <div class="col-3">
            columna tres
        </div>
    </div>

    <div class="page-donwload">
        Bajate la página
    </div>







{% endblock %}


{% block footer %}{% endblock %}
