{% extends 'WebalibreSeccionesBundle:Default:base.html.twig' %}

{% block title %}
    W E B A L I B R E - Home
{% endblock %}

{% block header %} <!-- class="header" -->
    <h2 class="title">
        W E B A L I B R E
    </h2>
    <h2 class="subtitle">
        web libre para desarrolladores . . .
    </h2>
    <div class="personal-data">
        <div class="tel">
        Tel: 11.5140.8258 | 
        </div>
        <div class="email">
        &nbsp;Mail: juanpablososa@gmail.com
        </div>
    </div>
{% endblock %}



{% block footer %}{% endblock %}
