{% extends 'WebalibreSeccionesBundle:Default:base.html.twig' %}

{% block title %}
    W E B A L I B R E - Home
{% endblock %}

{% block body %}
    
    <div class="present">
        <div class="parrafo">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estamos dedicados a la programación web, resolvimos crear un sitio que pueda ayudar a otros desarrolladores, y también a nosotros. Publicamos el código libre, para el que quiera bajarse un proyecto completo realizado con Symfony 2.
        </div>
        <div class="parrafo">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nos encantan las opiniones, escriban que las tendremos en cuenta; y lo que más nos gusta es programar y que el código sea libre. . .
        </div>
        <div class="parrafo">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mandanos tus creaciones libres, tus repositorios de los git, mientras más liberemos, mejor será para todos.
        </div>
    </div>



    <div class="box-news">
        <div class="col-1">
            <!-- http://www.redusers.com/noticias/stallman-el-estado-debe-usar-software-libre-para-mantener-su-soberania-informatica/ -->
            <div class="title"> Stallman: "El Estado debe usar software libre para mantener su soberanía informática" </div>
            <div class="subtitle">
                Publicado en Redusers.com por Alejandro D'Agostino   
            </div>
            <div class="text">
                <p>
                    El fundador del movimiento Software Libre asegura que, además de ético, la ventaja es económica, pues en lugar de pagar licencias, se pagará soporte local, así que el dinero circulará dentro del país y no se dirigirá hacia empresas extranjeras. También habló sobre Conectar Igualdad, redes sociales y Android. 
                </p>
            </div>
            <div class="leermas">
                <img src="{{ asset('bundles/webalibresecciones/images/home/boton-leer-mas.png') }}" alt="git" />
            </div>
        </div>
        <div class="col-2">
            <div class="title"> Liberado Gnome 2.16. </div>
            <div class="subtitle">
                Acaba de ser liberada la version final del popular escritorio para linux gnome    
            </div>
            <div class="text">
                <p>
                    Released on schedule, to the day, it is the culmination of six months effort
                    by GNOME contributors around the world: hackers, documentors, usability and
                    accessibility specialists, translators, maintainers, sysadmins, companies,
                    artists, users and testers. Due to their hard work, we have another great
                    release to be proud of - thanks very much to every contributor!
                </p>
                <p>
                    You'll find plenty of information about GNOME 2.16 in our extensive release
                    notes, linked from the 2.16 start page. 
                </p>
            </div>
            <div class="leermas">
                <img src="{{ asset('bundles/webalibresecciones/images/home/boton-leer-mas.png') }}" alt="git" />
            </div>
        </div>        
        <div class="col-3">
            <!-- http://www.symfony.es/2012/07/02/se-publica-la-primera-beta-de-symfony-2-1-0/ -->
            <div class="title"> Se publica la primera beta de Symfony 2.1.0 </div>
            <div class="subtitle">
                Un año después del lanzamiento de Symfony2, y tras más de 1.000 pull requests enviados por más de 250 programadores de todo el mundo.   
            </div>
            <div class="text">
                <p>
                    Aunque esta versión contiene todavía numerosos errores, disponer de la primera beta un par de meses antes del lanzamiento final va a permitir que muchos más programadores la prueben en proyectos reales.
                </p>
            </div>
            <div class="leermas">
                <img src="{{ asset('bundles/webalibresecciones/images/home/boton-leer-mas.png') }}" alt="git" />
            </div>
        </div>
    </div>

    <div class="page-donwload">
        Hacé click <a href="https://github.com/jpasosa/webalibre">aquí</a> para ver el código fuente. Realizado con Symfony 2.
    </div>

{% endblock %}


