{% extends 'WebalibreSeccionesBundle:Default:base.html.twig' %}

{% block title %}
    W E B A L I B R E - Home
{% endblock %}





{% block body %}
    
    <div class="present">
        <div class="parrafo">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estamos dedicados a la programación web, resolvimos crear un sitio que pueda ayudar a otros desarrolladores, y también a nosotros. Publicamos el código libre, para el que quiera bajarse un proyecto completo realizado con Symfony 2.
        </div>
        <div class="parrafo">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nos encantan las opiniones, escriban que las tendremos en cuenta; y lo que más nos gusta es programar y que el código sea libre. . .
        </div>
        <div class="parrafo">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mandanos tus creaciones libres, tus repositorios de los git, mientras más liberemos, mejor será para todos.
        </div>
    </div>



    <div class="box-news">
        <div class="col-1">
            <div class="title"> NOTICIA UNO </div>
            <div class="subtitle">
                esto seria el subtitulo    
            </div>
            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada, nisi ut ullamcorper posuere, just lectus viverra mauris, a accumsan urna nisi at dui.
                </p>
                <p>
                    Nulla non ipsum enim. Proin porttitor lacus quis ante posuere vel bibendum sem viverra. Donec sodales gravida consectetur. Fusce imperdiet pulvinar felis nec aliquam. Praesent interdum erat ut quam sodales eu lacinia urna porttitor.
                </p>
                <p>
                    Donec auctor interdum laoreet. Suspendisse tempor, risus et pulvinar facilisis, nisl eros rhoncus nulla, sit amet vulputate tellus nibh quis justo. Nulla facilisi. Sed iaculis mi et massa molestie ac adipiscing eros ultricies.
                </p>
            </div>
            <div class="leermas">
                <img src="{{ asset('bundles/webalibresecciones/images/home/boton-leer-mas.png') }}" alt="git" />
            </div>
        </div>
        <div class="col-2">
            <div class="title"> Liberado Gnome 2.16. </div>
            <div class="subtitle">
                Acaba de ser liberada la version final del popular escritorio para linux gnome    
            </div>
            <div class="text">
                <p>
                    Released on schedule, to the day, it is the culmination of six months effort
                    by GNOME contributors around the world: hackers, documentors, usability and
                    accessibility specialists, translators, maintainers, sysadmins, companies,
                    artists, users and testers. Due to their hard work, we have another great
                    release to be proud of - thanks very much to every contributor!
                </p>
                <p>
                    You'll find plenty of information about GNOME 2.16 in our extensive release
                    notes, linked from the 2.16 start page. 
                </p>
            </div>
            <div class="leermas">
                <img src="{{ asset('bundles/webalibresecciones/images/home/boton-leer-mas.png') }}" alt="git" />
            </div>
        </div>        
        <div class="col-3">
            <div class="title"> NOTICIA TRS </div>
            <div class="subtitle">
                esto seria el subtitulo    
            </div>
            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada, nisi ut ullamcorper posuere, just lectus viverra mauris, a accumsan urna nisi at dui.
                </p>
                <p>
                    Nulla non ipsum enim. Proin porttitor lacus quis ante posuere vel bibendum sem viverra. Donec sodales gravida consectetur. Fusce imperdiet pulvinar felis nec aliquam. Praesent interdum erat ut quam sodales eu lacinia urna porttitor.
                </p>
                <p>
                    Donec auctor interdum laoreet. Suspendisse tempor, risus et pulvinar facilisis, nisl eros rhoncus nulla, sit amet vulputate tellus nibh quis justo. Nulla facilisi. Sed iaculis mi et massa molestie ac adipiscing eros ultricies.
                </p>
            </div>
            <div class="leermas">
                <img src="{{ asset('bundles/webalibresecciones/images/home/boton-leer-mas.png') }}" alt="git" />
            </div>
        </div>
    </div>

    <div class="page-donwload">
        Hacé click <a href="https://github.com/jpasosa/webalibre">aquí</a> para ver el código fuente. Realizado con Symfony 2.
    </div>







{% endblock %}


