{% extends 'WebalibreSeccionesBundle:Default:base.html.twig' %}

{% block title %}
    W E B A L I B R E - jQuery
{% endblock %}

{% block body %}
    <div class="present">
        <div class="parrafo">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sección dedicada al jQuery
        </div>
    </div>
{% endblock %}

