{% extends 'WebalibreSeccionesBundle:Default:base.html.twig' %}

{% block title %}
    W E B A L I B R E - Symfony 2 
{% endblock %}





{% block body %}
    <div class="present">
        <div class="parrafo">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sección dedicada al Symfony 2
        </div>
    </div>
{% endblock %}